* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

.display{
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 100vw;
  height: calc(100vh - (100vw * 1.25));
  color: white;
  padding: 15px;
  .display-list{
    font-size: 24px;
    height: 60px;
    word-wrap: normal;
  }
  .display-result{
    font-size: 40px;
  }
}
.keypad {
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100vw;
  height: calc(100vw * 1.25);
  padding: 15px;
  &__button {
    border-radius: 50%;
    background-color: #333333;
    color: #7B7B7C;
    font-size: 40px;
    border: 1px solid #333333;
  }
  &__divide, &__times, &__minus, &__plus, &__equals{
    background-color: #FF9F23;
    color: white;
  }
  &__clear, &__percent, &__negPos {
    background-color: #A5A5A5;
    color: black;
  }
  &__0 {
    text-align: start;
    padding-left: 25px;
    border-radius: 50px;
    grid-column:1 / 2 span; 
  }
}

@media only screen and (min-width: 415px) {
  body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .calculator {
    border: 1px solid white;
    width: 414px;
  }
  .display{
    width: 414px;
    height: 183px;
    .display-list{
      height: 120px;
    }
  }
  .keypad {
    width: 414px;
    height: 517px;
  }
}